<div class="container">
    <div *ngIf="questionIdx == -1">
        <h3>IT'S PRESENT TIME!!</h3>
        <div class="form-header align-middle subtitle">Almost there, just need to check its you!</div>
            <button type="button" (click)="nextQuestion()"
            class="btn-prim btn-outlined btn-theme">Next
            </button>
        </div>

        <div *ngIf="questionIdx >= 0">
            <h3>{{question.question}}</h3>
            <div *ngFor="let option of question.options" class="btn-group">
                <button type="button" (click)="checkAnswer(option)"
                    class="btn-prim btn-outlined btn-theme btn-answer">{{option}}
                </button>
            </div>
        </div>

    <div mdbModal #answerModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
        <div class="modal-body">
            <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 ml-auto col-example">{{answerResponse}}</div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" mdbBtn class="mx-auto waves-light" aria-label="Close" (click)="answerModal.hide()" mdbWavesEffect>Close</button>
        </div>
        </div>
    </div>
    </div>
</div>